body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333333;
    background-color: #fff;
    margin: 0
}

.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 20px;
	border: 1px solid transparent
}

nav.navbar {
	-webkit-transition: 0.3s transform;
	transition: 0.3s transform
}

nav.navbar {
	margin-bottom: 0;
	border-radius: 0;
	border-color: rgba(0, 0, 0, 0.05)
}

nav.navbar #logo {
	width: 128px;
	margin-left: 15px;
	position: relative
}
nav.navbar #logo img,
nav.navbar #logo span {
	position: absolute
}

nav.navbar #logo img {
	top: 5px;
	height: 31px
}

nav.navbar #logo span {
	right: 0;
	text-transform: uppercase;
	font-weight: bold
}

@media (min-width: 768px) {
    nav.navbar #logo {
        width: 138px;
        margin-left: 0
    }
    nav.navbar {
        padding: 5px 0
    }
}
@media (min-width: 992px) {
	nav.navbar #logo {
		width: 150px
	}
}
@media (min-width: 768px) {
	.navbar {
		border-radius: 4px
	}
}


/* ------------------------- */


nav.navbar.navbar-default {
    background-color: rgba(255, 255, 255, 0.9);
    /* background-color: blueviolet */
}

/* ----------------------- */
.navbar-fixed-top {
	top: 0;
    border-width: 0 0 1px;
    position: fixed
}

.navbar-fixed-top {
	position: relative
}

@media (min-width: 768px){
    .navbar-fixed-top {
		position: fixed
	}
}

/* ------------------------ */
nav.navbar.is-inView {
	-webkit-transform: translateY(0);
	transform: translateY(0)
}


/* ----------------------------- */

.container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
    padding-right: 15px;
    /* background-color: orange; */
}

/* ------------------------------------ */
.col-md-10 {
    position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px
}

@media (min-width: 992px){
    .col-md-10 {
        float: left;
    }
    .col-md-10 {
		width: 83.33333333%
    }
    .col-md-offset-1 {
		margin-left: 8.33333333%
	}
}

/* ----------------------------------- */
.navbar-header {
	padding: 8px 0;
}
/* /////////////////////// */
.navbar-brand {
	float: left;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px;
	height: 50px
}

.navbar-brand:hover,
.navbar-brand:focus {
	text-decoration: none
}

.navbar-brand>img {
	display: block
}

/* ------------------------------------------- */


.nav {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none
}

/* ------------------------------------ */

.navbar-nav {
	margin: 0px;
}

.navbar-nav>li>a {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 20px
}


nav.navbar .filter-links {
	margin-left: 9px
}

nav.navbar .filter-links li>a {
	text-decoration: none;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.6);
	font-weight: 400
}

nav.navbar .filter-links li>a.active {
	color: rgba(0, 0, 0, 0.8)
}
nav.navbar .filter-links li>a:hover {
	color: green
}

/* ----------------------------------------------- */

nav.navbar .folding-nav {
	position: absolute;
	top: 3px;
	right: 0
}
nav.navbar .navbar-right {
	margin: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start
}

nav.navbar .navbar-right>li {
	-webkit-box-ordinal-group: 1;
	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
	-webkit-box-flex: 0;
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-webkit-align-self: auto;
	-ms-flex-item-align: auto;
    align-self: auto;
    
}

@media (min-width: 768px) {
	.navbar-left {
		float: left !important
	}
	.navbar-right {
		float: right !important;
		margin-right: 0px
	}
	/* .navbar-right~.navbar-right {
		margin-right: 0
	} */
}




nav.navbar .sign-in-button {
	margin-top: 10px;
	margin-right: 10px
}
nav.navbar .sign-in-button .button {
	padding: 0.6em 1em 0.7em 1em
}
.button {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.6em 1em 0.7em 1em;
	border-radius: 20px;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	outline: none;
	-webkit-transition: all .1s;
	transition: all .1s
}

.button:hover {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.8);
	border-color: rgba(0, 0, 0, 0.3)
}

.button.green-border-button {
	color: #00ab6b !important;
	border-color: #00ab6b;
	background-color: #fff
}

/* ------------------------------------------------- */
nav.navbar .new-post-button {
	display: inline-block
}

nav.navbar .new-post-button a {
	-webkit-transition: all .1s;
	transition: all .1s;
	color: rgba(0, 0, 0, 0.44)
}

nav.navbar .new-post-button:hover a {
	color: rgba(0, 0, 0, 0.6);
	border-color: rgba(0, 0, 0, 0.3)
}

nav.navbar .new-post-button {
	margin-top: 10px;
	margin-right: 10px
}

nav.navbar .new-post-button .button,
nav.navbar .sign-in-button .button {
	padding: 0.6em 1em 0.7em 1em
}